Source: nvidia-graphics-drivers
Section: non-free/libs
Priority: optional
Maintainer: Debian NVIDIA Maintainers <pkg-nvidia-devel@lists.alioth.debian.org>
Uploaders:
 Russ Allbery <rra@debian.org>,
 Andreas Beckmann <debian@abeckmann.de>,
Vcs-Svn: svn://svn.debian.org/svn/pkg-nvidia/packages/nvidia-graphics-drivers/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-nvidia/packages/nvidia-graphics-drivers/
Build-Depends:
 debhelper (>= 8),
 bzip2,
 dkms (>= 2.1.1.1),
 libxext6,
 libxvmc1,
 quilt,
 ia32-libs (>= 20090804) [amd64],
Standards-Version: 3.9.1
Homepage: http://www.nvidia.com

Package: nvidia-glx
Section: non-free/x11
Architecture: i386 amd64
Pre-Depends: dpkg (>= 1.15.7.2)
Depends:
 libgl1-nvidia${nvidia:Legacy}-glx (= ${binary:Version}),
 libglx-nvidia-alternatives,
 nvidia-kernel-${nvidia:Version}${nvidia:Perfkit},
 xorg-video-abi-6.0 | xserver-xorg-core (<< 2:1.7.7),
 ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-vdpau-driver (>= ${nvidia:Version})
Suggests: nvidia-settings,
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Provides:
 nvidia-glx,
 xserver-xorg-video-6,
Conflicts:
 nvidia-glx,
 nvidia-glx-legacy,
 nvidia-glx-legacy-71xx,
 nvidia-glx-legacy-96xx,
 nvidia-glx-legacy-173xx,
 fglrx-driver,
Description: NVIDIA binary Xorg driver${nvidia:LegacyDesc}
 These binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 AGP, PCIe, SLI, TV-out and flat panel displays are also supported.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel-${nvidia:Version}${nvidia:Perfkit}.
 .
 ${nvidia:Models}
 .
 See /usr/share/doc/nvidia-glx${nvidia:Legacy}/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

Package: nvidia-glx-ia32
Section: non-free/oldlibs
Priority: extra
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends:
 libgl1-nvidia${nvidia:Legacy}-glx-ia32 (= ${binary:Version}),
 nvidia-kernel-${nvidia:Version}${nvidia:Perfkit},
 ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-vdpau-driver-ia32 (>= ${nvidia:Version})
Suggests: nvidia-settings,
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Provides:
 nvidia-glx-ia32,
Conflicts:
 nvidia-glx-ia32,
 nvidia-glx-legacy-ia32,
 nvidia-glx-legacy-71xx-ia32,
 nvidia-glx-legacy-96xx-ia32,
 nvidia-glx-legacy-173xx-ia32,
Description: NVIDIA binary driver 32-bit libs${nvidia:LegacyDesc}
 These binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 AGP, PCIe, SLI, TV-out and flat panel displays are also supported.
 .
 ${nvidia:Models}
 .
 See /usr/share/doc/nvidia-glx${nvidia:Legacy}/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

Package: libgl1-nvidia-glx
Architecture: i386 amd64
Depends:
 libgl1-nvidia-alternatives,
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 nvidia-kernel-${nvidia:Version}${nvidia:Perfkit},
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Provides:
 libgl1-nvidia-glx,
Conflicts:
 libgl1-nvidia-glx,
 fglrx-glx,
 nvidia-glx (<< 195.36.31),
 nvidia-glx-legacy,
 nvidia-glx-legacy-71xx,
 nvidia-glx-legacy-96xx,
 nvidia-glx-legacy-173xx,
 libgl1-nvidia${nvidia:Legacy}-dev,
 nvidia-glx${nvidia:Legacy}-dev,
Replaces:
 nvidia-glx${nvidia:Legacy} (<< 195.36.31),
 libgl1-nvidia${nvidia:Legacy}-dev,
 nvidia-glx${nvidia:Legacy}-dev,
Description: NVIDIA binary OpenGL libraries${nvidia:LegacyDesc}
 These binary libraries provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 .
 See the description of the nvidia-glx${nvidia:Legacy} package
 or /usr/share/doc/libgl1-nvidia${nvidia:Legacy}-glx/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

Package: libgl1-nvidia-glx-ia32
Priority: extra
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends:
 libgl1-nvidia-alternatives-ia32,
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 nvidia-kernel-${nvidia:Version}${nvidia:Perfkit},
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Provides:
 libgl1-nvidia-glx-ia32,
Conflicts:
 libgl1-nvidia-glx-ia32,
 fglrx-glx-ia32,
 nvidia-glx-ia32 (<< 195.36.31),
 nvidia-glx-legacy-ia32,
 nvidia-glx-legacy-71xx-ia32,
 nvidia-glx-legacy-96xx-ia32,
 nvidia-glx-legacy-173xx-ia32,
Replaces: nvidia-glx${nvidia:Legacy}-ia32 (<< 195.36.31)
Description: NVIDIA binary OpenGL 32-bit libraries${nvidia:LegacyDesc}
 These binary 32-bit libraries provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 .
 See the description of the nvidia-glx${nvidia:Legacy} package
 or /usr/share/doc/libgl1-nvidia${nvidia:Legacy}-glx/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

Package: nvidia-kernel-dkms
Section: non-free/kernel
Architecture: i386 amd64
Depends: ${misc:Depends}, dkms, nvidia-kernel-common (>= 20100522)
Recommends: nvidia-glx${nvidia:Legacy} (>= ${nvidia:Version})
Provides:
 nvidia-kernel-dkms,
 nvidia-kernel-${nvidia:Version}${nvidia:Perfkit},
Conflicts:
 nvidia-kernel-dkms,
 linux-headers-2.6.32-trunk-486 [i386], linux-image-2.6.32-trunk-486 [i386],
 linux-headers-2.6.32-trunk-686 [i386], linux-image-2.6.32-trunk-686 [i386],
 linux-headers-2.6.32-trunk-686-bigmem [i386], linux-image-2.6.32-trunk-686-bigmem [i386],
 linux-headers-2.6.32-trunk-amd64, linux-image-2.6.32-trunk-amd64,
 linux-headers-2.6.32-trunk-vserver-686 [i386], linux-image-2.6.32-trunk-vserver-686 [i386],
 linux-headers-2.6.32-trunk-vserver-686-bigmem [i386], linux-image-2.6.32-trunk-vserver-686-bigmem [i386],
 linux-headers-2.6.32-trunk-vserver-amd64 [amd64], linux-image-2.6.32-trunk-vserver-amd64 [amd64],
 binutils-gold (>> 2.20.51),
Description: NVIDIA binary kernel module DKMS source${nvidia:LegacyDesc}
 This package builds the NVIDIA Xorg binary kernel module needed by
 nvidia-glx${nvidia:Legacy}, using DKMS.
 Provided that you have the kernel header packages installed, the kernel
 module will be built for your running kernel and automatically rebuilt for
 any new kernel headers that are installed.
 .
 The NVIDIA binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server for graphics cards
 using NVIDIA chip sets.  AGP, PCIe, SLI, TV-out and flat panel displays
 are also supported.
 .
 ${nvidia:Models}
 .
 See /usr/share/doc/nvidia-kernel${nvidia:Legacy}-dkms/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

Package: nvidia-kernel-source
Section: non-free/kernel
Architecture: i386 amd64
Depends: ${misc:Depends}, debhelper (>= 8), make, quilt (>= 0.46-7~)
Recommends: module-assistant | kernel-package,
 nvidia-kernel-common
Suggests:
 nvidia-glx${nvidia:Legacy} (>= ${nvidia:Version}),
Conflicts:
 linux-headers-2.6.32-trunk-486 [i386], linux-image-2.6.32-trunk-486 [i386],
 linux-headers-2.6.32-trunk-686 [i386], linux-image-2.6.32-trunk-686 [i386],
 linux-headers-2.6.32-trunk-686-bigmem [i386], linux-image-2.6.32-trunk-686-bigmem [i386],
 linux-headers-2.6.32-trunk-amd64, linux-image-2.6.32-trunk-amd64,
 linux-headers-2.6.32-trunk-vserver-686 [i386], linux-image-2.6.32-trunk-vserver-686 [i386],
 linux-headers-2.6.32-trunk-vserver-686-bigmem [i386], linux-image-2.6.32-trunk-vserver-686-bigmem [i386],
 linux-headers-2.6.32-trunk-vserver-amd64 [amd64], linux-image-2.6.32-trunk-vserver-amd64 [amd64],
 binutils-gold (>> 2.20.51),
Description: NVIDIA binary kernel module source${nvidia:LegacyDesc}
 This package provides the source for the NVIDIA Xorg binary kernel module
 needed by nvidia-glx${nvidia:Legacy} in a form suitable
 for use by module-assistant or kernel-package.
 .
 The NVIDIA binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server for graphics cards
 using NVIDIA chip sets.  AGP, PCIe, SLI, TV-out and flat panel displays
 are also supported.
 .
 PLEASE read /usr/share/doc/nvidia-kernel${nvidia:Legacy}-source/README.Debian.gz
 for building information.  If you want the kernel module to be automatically
 installed via DKMS, install nvidia-kernel${nvidia:Legacy}-dkms instead.
 .
 ${nvidia:Models}
 .
 See /usr/share/doc/nvidia-kernel${nvidia:Legacy}-source/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

Package: nvidia-vdpau-driver
Architecture: i386 amd64
Depends: libvdpau1,
 ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-kernel-${nvidia:Version}${nvidia:Perfkit}
Enhances: libvdpau1
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Replaces: nvidia-glx (<< 180.51), nvidia-libvdpau, nvidia-libvdpau1-driver,
 nvidia-libvdpau1,
Conflicts: nvidia-glx (<< 180.51), nvidia-libvdpau, nvidia-libvdpau1-driver,
 nvidia-libvdpau1,
Breaks: libvdpau1 (<< 0.4)
Provides: vdpau-driver
Description: NVIDIA vdpau driver
 These libraries provide the Video Decode and Presentation API for Unix.
 They provide accelerated video playback (incl. H.264) for the supported
 graphics cards.
 .
 This package contains the NVIDIA VDPAU driver.
 .
 See /usr/share/doc/nvidia-vdpau-driver/README.txt.gz
 for more information.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel-${nvidia:Version}${nvidia:Perfkit}.

Package: nvidia-vdpau-driver-ia32
Priority: extra
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends: lib32vdpau1,
 ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-kernel-${nvidia:Version}${nvidia:Perfkit}
Enhances: lib32vdpau1
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Replaces: nvidia-glx (<< 180.51), nvidia-libvdpau,
 nvidia-libvdpau1,
 nvidia-libvdpau1-driver-ia32, nvidia-libvdpau1-ia32,
Conflicts: nvidia-glx (<< 180.51), nvidia-libvdpau,
 nvidia-libvdpau1,
 nvidia-libvdpau1-driver-ia32, nvidia-libvdpau1-ia32,
Provides: vdpau-driver
Description: NVIDIA vdpau 32-bit driver
 These libraries provide the Video Decode and Presentation API for Unix.
 They provide accelerated video playback (incl. H.264) for the supported
 graphics cards.
 .
 This package contains the NVIDIA VDPAU driver (32-bit).
 .
 See /usr/share/doc/nvidia-vdpau-driver-ia32/README.txt.gz
 for more information.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel-${nvidia:Version}${nvidia:Perfkit}.

Package: nvidia-smi
Section: non-free/utils
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-kernel-${nvidia:Version}${nvidia:Perfkit}
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Description: NVIDIA System Management Interface
 The NVIDIA System Management Interface "nvidia-smi" program provides
 system state and diagnostic information for the NVIDIA Tesla Visual
 Computing Systems.

Package: libcuda1
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-kernel-${nvidia:Version}${nvidia:Perfkit},
 nvidia-smi
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Replaces: nvidia-glx (<< 185.18.14-2), nvidia-glx-dev (<< 185.18.14-2),
 libcuda1-dev
Conflicts: libcuda1-dev
Homepage: http://www.nvidia.com/CUDA
Description: NVIDIA CUDA runtime library
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the driver specific runtime library.
 .
 Supported NVIDIA devices include GPUs starting from GeForce 8 and Quadro FX
 series, as well as the Tesla computing processors.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel-${nvidia:Version}${nvidia:Perfkit}.

Package: libcuda1-ia32
Priority: extra
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-kernel-${nvidia:Version}${nvidia:Perfkit}
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Replaces: nvidia-glx-ia32 (<< 185.18.14-2)
Homepage: http://www.nvidia.com/CUDA
Description: NVIDIA CUDA runtime library (32-bit)
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the driver specific runtime library (32-bit).
 .
 Supported NVIDIA devices include GPUs starting from GeForce 8 and Quadro FX
 series, as well as the Tesla computing processors.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel-${nvidia:Version}${nvidia:Perfkit}.

Package: libnvidia-compiler
Architecture: i386 amd64
Depends: libcuda1 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Conflicts: libnvidia-compiler1
Replaces: libnvidia-compiler1
Description: NVIDIA runtime compiler library
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the runtime compiler library.

Package: libnvidia-compiler-ia32
Priority: extra
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends: libcuda1-ia32 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Conflicts: libnvidia-compiler1-ia32
Replaces: libnvidia-compiler1-ia32
Description: NVIDIA runtime compiler library (32-bit)
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the runtime compiler library (32-bit).

Package: libnvcuvid1
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NVIDIA CUDA nvcuvid runtime library
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 nvcuvid provides a mechanism for decoding video and exposing the surfaces to
 CUDA, allowing applications to perform custom processing of the video.
 nvcuvid is primarily targeted at transcoding and video-processing
 applications.
 .
 This package contains the nvcuvid runtime library.

Package: nvidia-opencl-common
Architecture: i386 amd64
Depends: ${misc:Depends},
Recommends: nvidia-opencl-icd | nvidia-opencl-icd-ia32 [amd64]
Description: NVIDIA OpenCL driver
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package provides the common files for the NVIDIA installable client
 driver (ICD) for OpenCL.

Package: nvidia-opencl-icd
Architecture: i386 amd64
Depends: ${misc:Depends},
 nvidia-opencl-common,
 libopencl1,
 libcuda1 (>= 195)
Recommends: libnvidia-compiler
Enhances: libopencl1
Provides: opencl-icd
Description: NVIDIA OpenCL ICD
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package provides the NVIDIA installable client driver (ICD) for OpenCL.

Package: nvidia-opencl-icd-ia32
Priority: extra
Architecture: amd64
Depends: ${misc:Depends},
 nvidia-opencl-common,
 lib32opencl1,
 libcuda1-ia32 (>= 195)
Recommends: libnvidia-compiler-ia32
Enhances: lib32opencl1
Provides: opencl-icd
Description: NVIDIA OpenCL ICD (32-bit)
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package provides the 32-bit NVIDIA installable client driver (ICD) for
 OpenCL.

Package: nvidia-libopencl1
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
Conflicts: nvidia-libopencl1-dev
Replaces: nvidia-libopencl1-dev
Provides: libopencl1
Recommends: opencl-icd | nvidia-opencl-icd
Description: NVIDIA OpenCL library
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package contains the installable client driver loader (ICD Loader)
 library provided by NVIDIA.

Package: nvidia-libopencl1-ia32
Priority: extra
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends: ${shlibs:Depends}, ${misc:Depends},
Provides: lib32opencl1
Recommends: opencl-icd | nvidia-opencl-icd-ia32
Description: NVIDIA OpenCL 32-bit library
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package contains the installable client driver loader (ICD Loader)
 32-bit library provided by NVIDIA.

Package: libgl1-nvidia-alternatives
Architecture: i386 amd64
Depends: dpkg (>= 1.15), ${misc:Depends}
Breaks:
 nvidia-glx (<< 195.36.31-2),
 nvidia-glx-dev (<< 195.36.31-2),
 libgl1-nvidia-glx (<< 195.36.31-2),
 nvidia-glx-legacy-71xx (<< 71.86.14),
 nvidia-glx-legacy-71xx-dev (<< 71.86.14),
 nvidia-glx-legacy-96xx (<< 96.43.18),
 nvidia-glx-legacy-96xx-dev (<< 96.43.18),
 nvidia-glx-legacy-173xx (<< 173.14.27),
 nvidia-glx-legacy-173xx-dev (<< 173.14.27),
Conflicts:
 fglrx-glx,
Description: simplifies replacing MESA libGL with GPU vendor libraries
 Diverts the free libGL.so implementation (MESA) and introduces
 alternatives to simplify plugging in accelerated implementations from GPU
 vendors.  Handles both libGL.so.1 and libGL.so.

Package: libgl1-nvidia-alternatives-ia32
Priority: extra
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends: dpkg (>= 1.15), ${misc:Depends}
Breaks:
 nvidia-glx-ia32 (<< 195.36.31-2), libgl1-nvidia-glx-ia32 (<< 195.36.31-2),
 nvidia-glx-legacy-71xx-ia32 (<< 71.86.14),
 nvidia-glx-legacy-96xx-ia32 (<< 96.43.18),
 nvidia-glx-legacy-173xx-ia32 (<< 173.14.27),
Conflicts:
 fglrx-glx-ia32,
Description: simplifies replacing MESA libGL with GPU vendor libraries (32-bit)
 Diverts the free libGL.so (32-bit) implementation (MESA) and introduces
 alternatives to simplify plugging in accelerated implementations from GPU
 vendors.  Handles both libGL.so.1 and libGL.so.

Package: libglx-nvidia-alternatives
Architecture: i386 amd64
Depends: dpkg (>= 1.15), ${misc:Depends}
Breaks:
 nvidia-glx (<< 195.36.31-3),
 nvidia-glx-legacy-71xx (<< 71.86.14),
 nvidia-glx-legacy-96xx (<< 96.43.18),
 nvidia-glx-legacy-173xx (<< 173.14.27),
Conflicts:
 fglrx-driver,
Description: simplifies replacing Xorg module libglx.so with GPU vendor library
 Diverts the free Xorg module libglx.so (Xorg) and introduces alternatives
 to simplify plugging in accelerated implementations from GPU vendors.
 Handles both libglx.so and its debug symbols.

