Source: nvidia-graphics-drivers
Section: non-free/x11
Priority: optional
Maintainer: Debian NVIDIA Maintainers <pkg-nvidia-devel@lists.alioth.debian.org>
Uploaders:
 Andres Mejia <mcitadel@gmail.com>,
 Russ Allbery <rra@debian.org>,
Vcs-Svn: svn://svn.debian.org/svn/pkg-nvidia/packages/nvidia-graphics-drivers/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-nvidia/packages/nvidia-graphics-drivers/
Build-Depends:
 debhelper (>= 7.4.16~),
 bzip2,
 dkms (>= 2.1.1.1),
 libxext6,
 quilt,
 ia32-libs (>= 20090804) [amd64],
Standards-Version: 3.9.0
Homepage: http://www.nvidia.com

Package: nvidia-glx
Architecture: i386 amd64
Pre-Depends: dpkg (>= 1.15.7.2)
Depends:
 libgl1-nvidia${nvidia:Legacy}-glx (= ${binary:Version}),
 nvidia-kernel${nvidia:Legacy}-${nvidia:Version},
 ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-vdpau-driver (>= ${nvidia:Version})
Suggests: nvidia-settings,
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Breaks: xserver-xorg-core (<< 2:1.6)
Provides:
 xserver-xorg-video-6,
 nvidia-glx,
Conflicts:
 nvidia-glx,
 nvidia-glx-legacy,
 nvidia-glx-legacy-71xx,
 nvidia-glx-legacy-96xx,
 nvidia-glx-legacy-173xx,
 fglrx-driver,
Description: NVIDIA binary Xorg driver${nvidia:LegacyDesc}
 These binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 AGP, PCIe, SLI, TV-out and flat panel displays are also supported.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel${nvidia:Legacy}-${nvidia:Version}.
 .
 This version only supports GeForce 6xxx and higher of the Geforce GPUs
 plus complimentary Quadros and nforce.  Look at the legacy packages
 for older cards.
 .
 See /usr/share/doc/nvidia-glx${nvidia:Legacy}/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

Package: nvidia-glx-ia32
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends:
 libgl1-nvidia${nvidia:Legacy}-glx-ia32 (= ${binary:Version}),
 nvidia-kernel${nvidia:Legacy}-${nvidia:Version},
 ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-vdpau-driver-ia32 (>= ${nvidia:Version})
Suggests: nvidia-settings,
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Provides:
 nvidia-glx-ia32,
Conflicts:
 nvidia-glx-ia32,
 nvidia-glx-legacy-ia32,
 nvidia-glx-legacy-71xx-ia32,
 nvidia-glx-legacy-96xx-ia32,
 nvidia-glx-legacy-173xx-ia32,
Description: NVIDIA binary driver 32-bit libs${nvidia:LegacyDesc}
 These binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 AGP, PCIe, SLI, TV-out and flat panel displays are also supported.
 .
 This version only supports GeForce 6xxx and higher of the Geforce GPUs
 plus complimentary Quadros and nforce.  Look at the legacy packages
 for older cards.
 .
 See /usr/share/doc/nvidia-glx${nvidia:Legacy}/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

Package: nvidia-glx-dev
Section: non-free/oldlibs
Architecture: i386 amd64
Depends: libgl1-nvidia${nvidia:Legacy}-dev, ${misc:Depends}
Description: NVIDIA OpenGL development files (transitional package)${nvidia:LegacyDesc}
 This is a transitional dummy package to aid migration to
 libgl1-nvidia${nvidia:Legacy}-dev.
 .
 For building portable OpenGL applications, please install libgl1-mesa-dev
 instead.

Package: libgl1-nvidia-glx
Section: non-free/libs
Architecture: i386 amd64
Depends:
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 nvidia-kernel${nvidia:Legacy}-${nvidia:Version},
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Provides:
 libgl1-nvidia-glx,
Conflicts:
 libgl1-nvidia-glx,
 fglrx-glx,
 nvidia-glx${nvidia:Legacy} (<< 195.36.31),
 nvidia-glx-legacy,
 nvidia-glx-legacy-71xx,
 nvidia-glx-legacy-96xx,
 nvidia-glx-legacy-173xx,
Replaces: nvidia-glx${nvidia:Legacy} (<< 195.36.31)
Description: NVIDIA binary OpenGL libraries${nvidia:LegacyDesc}
 These binary libraries provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 .
 This version only supports GeForce 6xxx and higher of the Geforce GPUs
 plus complimentary Quadros and nforce.  Look at the legacy packages
 for older cards.
 .
 See /usr/share/doc/libgl1-nvidia${nvidia:Legacy}-glx/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

Package: libgl1-nvidia-glx-ia32
Section: non-free/libs
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends:
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 nvidia-kernel${nvidia:Legacy}-${nvidia:Version},
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Provides:
 libgl1-nvidia-glx-ia32,
Conflicts:
 libgl1-nvidia-glx-ia32,
 fglrx-glx-ia32,
 nvidia-glx${nvidia:Legacy}-ia32 (<< 195.36.31),
 nvidia-glx-legacy-ia32,
 nvidia-glx-legacy-71xx-ia32,
 nvidia-glx-legacy-96xx-ia32,
 nvidia-glx-legacy-173xx-ia32,
Replaces: nvidia-glx${nvidia:Legacy}-ia32 (<< 195.36.31)
Description: NVIDIA binary OpenGL 32-bit libraries${nvidia:LegacyDesc}
 These binary 32-bit libraries provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server.
 .
 This version only supports GeForce 6xxx and higher of the Geforce GPUs
 plus complimentary Quadros and nforce.  Look at the legacy packages
 for older cards.
 .
 See /usr/share/doc/libgl1-nvidia${nvidia:Legacy}-glx/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

Package: libgl1-nvidia-dev
Section: non-free/libdevel
Architecture: i386 amd64
Depends:
 libgl1-nvidia${nvidia:Legacy}-glx (= ${binary:Version}),
 libx11-dev,
 ${misc:Depends}
Recommends: libgl1-mesa-dev | libgl-dev
Provides:
 libgl1-nvidia-dev,
Conflicts:
 libgl1-nvidia-dev,
 nvidia-glx${nvidia:Legacy}-dev (<< 195.36.31),
 nvidia-glx-legacy-dev,
 nvidia-glx-legacy-71xx-dev,
 nvidia-glx-legacy-96xx-dev,
 nvidia-glx-legacy-173xx-dev,
Replaces: nvidia-glx${nvidia:Legacy}-dev (<< 195.36.31)
Description: NVIDIA OpenGL development files${nvidia:LegacyDesc}
 This package contains the development files for the NVIDIA OpenGL
 implementation. This package is only needed for applications that use some
 extensions available in the NVIDIA driver only. Include and library search
 paths have to be adjusted to explicitly select this implementation.
 .
 For building portable OpenGL applications, please install libgl1-mesa-dev
 instead.
 .
 For more information on this source package visit NVIDIA's homepage
 at http://www.nvidia.com/ .

Package: nvidia-kernel-dkms
Section: non-free/kernel
Architecture: i386 amd64
Depends: ${misc:Depends}, dkms, nvidia-kernel-common (>= 20100522)
Recommends: nvidia-glx${nvidia:Legacy} (>= ${nvidia:Version})
Provides: nvidia-kernel${nvidia:Legacy}-${nvidia:Version}
Conflicts:
 nvidia-kernel-legacy-71xx-dkms,
 nvidia-kernel-legacy-96xx-dkms,
 nvidia-kernel-legacy-173xx-dkms,
 binutils-gold (>> 2.20.51)
Description: NVIDIA binary kernel module DKMS source${nvidia:LegacyDesc}
 This package builds the NVIDIA Xorg binary kernel module needed by
 nvidia-glx${nvidia:Legacy}, using DKMS.
 Provided that you have the kernel header packages installed, the kernel
 module will be built for your running kernel and automatically rebuilt for
 any new kernel headers that are installed.
 .
 The NVIDIA binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server for graphics cards
 using NVIDIA chip sets.  AGP, PCIe, SLI, TV-out and flat panel displays
 are also supported.
 .
 This version only supports GeForce 6xxx and higher of the Geforce GPUs
 plus complimentary Quadros and nforce.  Look at the legacy packages for
 older cards.

Package: nvidia-kernel-source
Section: non-free/kernel
Architecture: i386 amd64
Depends: ${misc:Depends}, debhelper (>= 7.2.3~), make, quilt (>= 0.46-7~)
Recommends: module-assistant | kernel-package,
 nvidia-glx${nvidia:Legacy} (>= ${nvidia:Version}), nvidia-kernel-common
Conflicts: binutils-gold (>> 2.20.51)
Description: NVIDIA binary kernel module source${nvidia:LegacyDesc}
 This package provides the source for the NVIDIA Xorg binary kernel module
 needed by nvidia-glx${nvidia:Legacy} in a form suitable
 for use by module-assistant or kernel-package.
 .
 The NVIDIA binary drivers provide optimized hardware acceleration of
 OpenGL applications via a direct-rendering X Server for graphics cards
 using NVIDIA chip sets.  AGP, PCIe, SLI, TV-out and flat panel displays
 are also supported.
 .
 This version only supports GeForce 6xxx and higher of the Geforce GPUs
 plus complimentary Quadros and nforce.  Look at the legacy packages for
 older cards.
 .
 PLEASE read /usr/share/doc/nvidia-kernel${nvidia:Legacy}-source/README.Debian.gz
 for building information.  If you want the kernel module to be automatically
 installed via DKMS, install nvidia-kernel${nvidia:Legacy}-dkms instead.

Package: nvidia-libvdpau1
Section: non-free/oldlibs
Architecture: i386 amd64
Depends: nvidia-vdpau-driver (>= ${nvidia:Version}), libvdpau1,
 ${misc:Depends}
Description: NVIDIA vdpau libraries (transitional package)
 These libraries provide the Video Decode and Presentation API for Unix.
 They provide accelerated video playback (incl. H.264) for the supported
 graphics cards.
 .
 This is a transitional dummy package depending on the free version of the
 VDPAU wrapper and trace libraries.

Package: nvidia-libvdpau1-ia32
Section: non-free/oldlibs
Architecture: amd64
Depends: nvidia-vdpau-driver-ia32 (>= ${nvidia:Version}), lib32vdpau1,
 ${misc:Depends}
Description: NVIDIA vdpau 32-bit libraries (transitional package)
 These libraries provide the Video Decode and Presentation API for Unix.
 They provide accelerated video playback (incl. H.264) for the supported
 graphics cards.
 .
 This is a transitional dummy package depending on the free version of the
 VDPAU wrapper and trace libraries (32-bit).

Package: nvidia-libvdpau-dev
Section: non-free/oldlibs
Architecture: i386 amd64
Depends: libvdpau-dev, ${misc:Depends}
Description: NVIDIA vdpau development files (transitional package)
 The NVIDIA Video Decode and Presentation API for Unix (VDPAU) provides a
 complete solution for decoding, post-processing, compositing, and displaying
 compressed or uncompressed video streams.
 .
 This is a transitional dummy package depending on the free version of the
 VDPAU development files.

Package: nvidia-vdpau-driver
Section: non-free/libs
Architecture: i386 amd64
Depends: libvdpau1,
 ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-kernel${nvidia:Legacy}-${nvidia:Version}
Enhances: libvdpau1
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Replaces: nvidia-glx (<< 180.51), nvidia-libvdpau, nvidia-libvdpau1-driver
Conflicts: nvidia-glx (<< 180.51), nvidia-libvdpau, nvidia-libvdpau1-driver,
 nvidia-libvdpau1 (<< 190.42-3),
Breaks: libvdpau1 (<< 0.4)
Provides: vdpau-driver
Description: NVIDIA vdpau driver
 These libraries provide the Video Decode and Presentation API for Unix.
 They provide accelerated video playback (incl. H.264) for the supported
 graphics cards.
 .
 This package contains the NVIDIA VDPAU driver.
 .
 See /usr/share/doc/nvidia-vdpau-driver/README.txt.gz
 for more information.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel${nvidia:Legacy}-${nvidia:Version}.

Package: nvidia-vdpau-driver-ia32
Section: non-free/libs
Architecture: amd64
Depends: lib32vdpau1,
 ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-kernel${nvidia:Legacy}-${nvidia:Version}
Enhances: lib32vdpau1
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Replaces: nvidia-glx (<< 180.51), nvidia-libvdpau,
 nvidia-libvdpau1-driver-ia32, nvidia-libvdpau1-ia32 (<< 190.53-3)
Conflicts: nvidia-glx (<< 180.51), nvidia-libvdpau,
 nvidia-libvdpau1 (<< 190.42-3),
 nvidia-libvdpau1-driver-ia32, nvidia-libvdpau1-ia32 (<< 190.53-3)
Provides: vdpau-driver
Description: NVIDIA vdpau 32-bit driver
 These libraries provide the Video Decode and Presentation API for Unix.
 They provide accelerated video playback (incl. H.264) for the supported
 graphics cards.
 .
 This package contains the NVIDIA VDPAU driver (32-bit).
 .
 See /usr/share/doc/nvidia-vdpau-driver-ia32/README.txt.gz
 for more information.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel${nvidia:Legacy}-${nvidia:Version}.

Package: libcuda1
Section: non-free/libs
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-kernel${nvidia:Legacy}-${nvidia:Version}
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Replaces: nvidia-glx (<< 185.18.14-2), nvidia-glx-dev (<< 185.18.14-2)
Homepage: http://www.nvidia.com/CUDA
Description: NVIDIA CUDA runtime library
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the driver specific runtime library.
 .
 Supported NVIDIA devices include GPUs starting from GeForce 8 and Quadro FX
 series, as well as the Tesla computing processors.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel${nvidia:Legacy}-${nvidia:Version}.

Package: libcuda1-ia32
Section: non-free/libs
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: nvidia-kernel${nvidia:Legacy}-${nvidia:Version}
Suggests:
 nvidia-kernel${nvidia:Legacy}-dkms (>= ${nvidia:Version})
 | nvidia-kernel${nvidia:Legacy}-source (>= ${nvidia:Version})
Replaces: nvidia-glx-ia32 (<< 185.18.14-2)
Homepage: http://www.nvidia.com/CUDA
Description: NVIDIA CUDA runtime library (32-bit)
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the driver specific runtime library (32-bit).
 .
 Supported NVIDIA devices include GPUs starting from GeForce 8 and Quadro FX
 series, as well as the Tesla computing processors.
 .
 Please see the nvidia-kernel${nvidia:Legacy}-dkms or
 nvidia-kernel${nvidia:Legacy}-source packages
 for building the kernel module required by this package.
 This will provide nvidia-kernel${nvidia:Legacy}-${nvidia:Version}.

Package: libcuda1-dev
Section: non-free/libdevel
Architecture: i386 amd64
Depends: libcuda1 (= ${binary:Version}), ${misc:Depends}
Provides: libcuda-dev
Replaces: nvidia-glx-dev (<< 185.18.14-2)
Homepage: http://www.nvidia.com/CUDA
Description: NVIDIA CUDA development files
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the driver specific NVIDIA CUDA
 development files.
 .
 For more information on this source package visit NVIDIA's CUDA Zone
 at http://www.nvidia.com/CUDA .

Package: libnvidia-compiler
Section: non-free/libs
Architecture: i386 amd64
Depends: libcuda1 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Conflicts: libnvidia-compiler1
Replaces: libnvidia-compiler1
Description: NVIDIA runtime compiler library
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the runtime compiler library.

Package: libnvidia-compiler-ia32
Section: non-free/libs
Architecture: amd64
Pre-Depends: libc6-i386 (>= 2.9-18)
Depends: libcuda1-ia32 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Conflicts: libnvidia-compiler1-ia32
Replaces: libnvidia-compiler1-ia32
Description: NVIDIA runtime compiler library (32-bit)
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the runtime compiler library (32-bit).

Package: nvidia-opencl-common
Section: non-free/libs
Architecture: i386 amd64
Depends: ${misc:Depends},
Recommends: nvidia-opencl-icd | nvidia-opencl-icd-ia32
Description: NVIDIA OpenCL driver
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package provides the common files for the NVIDIA installable client
 driver (ICD) for OpenCL.

Package: nvidia-opencl-icd
Section: non-free/libs
Architecture: i386 amd64
Depends: ${misc:Depends},
 nvidia-opencl-common,
 libopencl1,
 libcuda1 (>= 195)
Recommends: libnvidia-compiler
Enhances: libopencl1
Provides: opencl-icd
Description: NVIDIA OpenCL ICD
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package provides the NVIDIA installable client driver (ICD) for OpenCL.

Package: nvidia-opencl-icd-ia32
Section: non-free/libs
Architecture: amd64
Depends: ${misc:Depends},
 nvidia-opencl-common,
 lib32opencl1,
 libcuda1-ia32 (>= 195)
Recommends: libnvidia-compiler-ia32
Enhances: lib32opencl1
Provides: opencl-icd
Description: NVIDIA OpenCL ICD (32-bit)
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package provides the 32-bit NVIDIA installable client driver (ICD) for
 OpenCL.

Package: nvidia-libopencl1
Section: non-free/libs
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
Provides: libopencl1
Recommends: opencl-icd | nvidia-opencl-icd
Description: NVIDIA OpenCL library
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package contains the installable client driver loader (ICD Loader)
 library provided by NVIDIA.

Package: nvidia-libopencl1-ia32
Section: non-free/libs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
Provides: lib32opencl1
Recommends: opencl-icd | nvidia-opencl-icd-ia32
Description: NVIDIA OpenCL 32-bit library
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package contains the installable client driver loader (ICD Loader)
 32-bit library provided by NVIDIA.

Package: nvidia-libopencl1-dev
Section: non-free/libdevel
Architecture: i386 amd64
Depends: ${misc:Depends},
 nvidia-libopencl1 (= ${binary:Version}),
Provides: libopencl1-dev
Description: NVIDIA OpenCL development files
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package contains the development files for the installable client driver
 loader (ICD Loader) library provided by NVIDIA.

